/* overlay */

.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 200%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

.white_content {
    display: none;
    position: absolute;
    left: 36%;
    width: 28%;
    z-index: 1002;
}
/* Container */

#container {
    position: relative;
}
/* Menu Appearance */

.pushy {
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    z-index: 9999;
    background-color: #008542;
    -webkit-box-shadow: 4px 0px 19px -5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 4px 0px 19px -5px rgba(0, 0, 0, 0.7);
    box-shadow: 4px 0px 19px -5px rgba(0, 0, 0, 0.7);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /* enables momentum scrolling in iOS overflow elements */
}

.edit {
    background-color: #C75B12;
}

.pushy h1 {
    color: #fff;
    padding-top: 10%;
    padding-left: 6%;
}

.form {
    max-width: 88%;
    padding: 10% 0;
    margin: 0 auto;
}

.form-group .form-control {
    position: relative;
}

.form .label {
    color: #fff;
    font-size: 14px;
}

.form #btn-draw, .form #btn-edit {
    margin-top: 15%;
    margin-bottom: 3px;
}

.half-block {
    width: calc(50% - 2px);
    margin-top: 10%;
    margin-bottom: 3px;
}

.btn-panel {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
    transition: all .2s ease-in-out;
}

.create .btn-panel:hover, .create .btn-panel:focus {
    background-color: #fff;
    color: #008542;
}

.edit .btn-panel:hover, .edit .btn-panel:focus {
    background-color: #fff;
    color: #C75B12;
}

#btn-save {
    background-color: rgba(255, 0,0,0.8);
    border: red;
}

#btn-reverse {
    background-color: rgba(255, 165, 0,0.8);
    border: orange;
}

#btn-save:hover, #btn-save:focus {
    background-color: red;
    color:#fff;
}

#btn-reverse:hover, #btn-reverse:focus {
    background-color: orange;
    color: #fff;
}

.sb-box {
    border: 1px solid #fff;
    padding: 10px;
    margin-top: 5px;
}
.sb-box label {
    color: #fff;
}

.timepicker-set {
    margin-top: 2px;
    display: block;
}

.timepicker-set p {
    display: inline-block;
    color: #fff;
}

.timepicker-set .timepicker {
    display: inline-block;
    width: calc(50% - 10px);
}

#day-picker {
    width: 100%;
}

#time-picker-buttons {
    text-align: center;
}

/* Menu Movement */

.pushy-left {
    -webkit-transform: translate3d(-300px, 0, 0);
    -moz-transform: translate3d(-300px, 0, 0);
    -ms-transform: translate3d(-300px, 0, 0);
    -o-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
}

.pushy-open {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.container-push,
.push-push {
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}

.navbar-pushup {
    -webkit-transform: translate3d(0, -80px, 0);
    -moz-transform: translate3d(0, -80px, 0);
    -ms-transform: translate3d(0, -80px, 0);
    -o-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
}

/* Menu Transitions */

.pushy,
#container,
.push,
.navbar,
.navbar-pushup {
    -webkit-transition: all .3s cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all .3s cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all .3s cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all .3s cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

/* Site Overlay */

.site-overlay {
    display: none;
}

.pushy-active .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0);
    -webkit-animation: fade 500ms;
    -moz-animation: fade 500ms;
    -o-animation: fade 500ms;
    animation: fade 500ms;
}
