/* overlay */

#wrapper {
    position: relative;
}

.black_overlay {
    position: absolute;
    display: block;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 200%;
    background-color: black;
    z-index: 9999;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

.white_content {
    position: absolute;
    display: block;
    left: 36%;
    width: 28%;
    z-index: 99999;
}

.card-container.card {
    width: 350px;
    padding: 40px 40px;
}
/*
 * Card component
 */

.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
/*
 * Form styles
 */

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
}

.btn-signin {
    /*background-color: #4d90fe; */
    
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn-signin:hover,
.btn-signin:active,
.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
    color: rgb(12, 97, 33);
}
/* Container */

#container {
    position: relative;
}
/* Menu Appearance */

.pushy {
    position: fixed;
    width: 400px;
    height: 100%;
    top: 0;
    z-index: 9999;
    background-color: #008542;
    -webkit-box-shadow: 4px 0px 19px -5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 4px 0px 19px -5px rgba(0, 0, 0, 0.7);
    box-shadow: 4px 0px 19px -5px rgba(0, 0, 0, 0.7);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /* enables momentum scrolling in iOS overflow elements */
}

.edit {
    background-color: #C75B12;
}

.pushy h1 {
    color: #fff;
    padding-top: 10%;
    padding-left: 6%;
}

.form {
    max-width: 88%;
    padding: 10% 0;
    margin: 0 auto;
}

.form-group .form-control {
    position: relative;
}

.form .label {
    color: #fff;
    font-size: 14px;
}

.form #btn-draw,
.form #btn-edit {
    margin-top: 15%;
    margin-bottom: 3px;
}

.half-block {
    width: calc(50% - 2px);
    margin-top: 10%;
    margin-bottom: 3px;
}

.btn-panel {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
    transition: all .2s ease-in-out;
}

.create .btn-panel:hover,
.create .btn-panel:focus {
    background-color: #fff;
    color: #008542;
}

.edit .btn-panel:hover,
.edit .btn-panel:focus {
    background-color: #fff;
    color: #C75B12;
}

#btn-actual-draw {
    background-color: rgba(255, 0, 0, 0.8);
    border: red;
}

#btn-reverse {
    background-color: orange;
    border: orange;
}

#btn-save {
    background-color: #0099CC;
    border: #0099CC;
}

#btn-reverse-points {
    background-color: orange;
    border: orange;
}

#btn-draw-points {
    background-color: red;
    border: red;
}

#btn-actual-draw:hover,
#btn-actual-draw:focus {
    background-color: red;
    color: #fff;
}

#btn-reverse:hover,
#btn-reverse:focus {
    background-color: orange;
    color: #fff;
}

#btn-save:hover,
#btn-save:focus {
    background-color: #0099CC;
    color: #fff;
}

#btn-reverse-points:hover,
#btn-reverse-points:focus {
    color: #fff;
}

#btn-draw-points:hover,
#btn-draw-points:focus {
    color: #fff;
}

.sb-box {
    border: 1px solid #fff;
    padding: 10px;
    margin-top: 5px;
}

.sb-box label {
    color: #fff;
}

.timepicker-set {
    margin-top: 2px;
    display: block;
}

.timepicker-set p {
    display: inline-block;
    color: #fff;
}

.timepicker-set .timepicker {
    display: inline-block;
    width: calc(50% - 10px);
}

#day-picker {
    width: 100%;
}

#time-picker-buttons {
    text-align: center;
}

#date-picker input {
    display: inline-block;
    width: calc(50% - 10px);
}

#date-picker p {
    display: inline-block;
    color: #fff;
}
/* Menu Movement */

.pushy-left {
    -webkit-transform: translate3d(-400px, 0, 0);
    -moz-transform: translate3d(-400px, 0, 0);
    -ms-transform: translate3d(-400px, 0, 0);
    -o-transform: translate3d(-400px, 0, 0);
    transform: translate3d(-400px, 0, 0);
}

.pushy-open {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.container-push,
.push-push {
    -webkit-transform: translate3d(400px, 0, 0);
    -moz-transform: translate3d(400px, 0, 0);
    -ms-transform: translate3d(400px, 0, 0);
    -o-transform: translate3d(400px, 0, 0);
    transform: translate3d(400px, 0, 0);
}

.navbar-pushup {
    -webkit-transform: translate3d(0, -80px, 0);
    -moz-transform: translate3d(0, -80px, 0);
    -ms-transform: translate3d(0, -80px, 0);
    -o-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
}
/* Menu Transitions */

.pushy,
#container,
.push,
.navbar,
.navbar-pushup {
    -webkit-transition: all .3s cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all .3s cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all .3s cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all .3s cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
/* Site Overlay */

.site-overlay {
    display: none;
}

.pushy-active .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0);
    -webkit-animation: fade 500ms;
    -moz-animation: fade 500ms;
    -o-animation: fade 500ms;
    animation: fade 500ms;
}
