@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
html,
body,
#container,
#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

body {
    overflow-x: hidden;
    font-size: 14px;
}

.alert {
    position: fixed;
    width: 40%;
    left: 30%;
    top: 40%;
    z-index: 99999;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.5);
}
/* navbar-default */

.navbar-default {
    background-color: rgba(255, 255, 255, 0.9);
    letter-spacing: 1px;
    height: 80px;
    -webkit-box-shadow: 4px 0px 19px -5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 4px 0px 19px -5px rgba(0, 0, 0, 0.7);
    box-shadow: 4px 0px 19px -5px rgba(0, 0, 0, 0.7);
}

.navbar-header-sm {
    display: none;
}

.navbar-header-lg {
    display: block;
}

.navbar-header-lg .logo {
    height: 70px;
    width: 250px;
    margin-top: -20px;
    margin-right: -50px;
    display: inline-block;
}

.login-btn {
    background-color: transparent;
    border: 1px solid #C75B12;
    border-radius: 0px;
    text-align: center;
    transition: all .2s ease-in-out;
    cursor: pointer;
    margin-right: 20px;
    margin-top: -10px;
}

.login-btn a {
    color: #C75B12;
    font-size: 12px;
}

.login-btn:hover,
.login-btn:active {
    background-color: #C75B12;
    border-color: #C75B12;
}

.login-btn:hover a,
.login-btn:active a {
    color: #fff;
}

.login-btn a:hover,
.login-btn a:active {
    text-decoration: none;
}

.navbar-header .navbar-toggle,
.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
    border-color: transparent;
    background-color: transparent;
}

.navbar-collapse {
    max-height: 100px;
    padding-right: 15px;
    padding-left: 0px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    box-shadow: inset 0 100px 0 rgba(255, 255, 255, .1);
    border-color: transparent;
}

.nav .login-lst {
    display: none;
}

.nav>li {
    margin-top: -10px;
    margin-left: 8px;
}

.nav li a {
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 1px;
}

.nav li a:hover,
.nav li a:focus {
    opacity: 1;
}

.nav .btn-exp {
    display: none;
}
/*.nav li span.multiselect {
    border-color: transparent;
    margin-top: 10px;
}*/

.nav li div {
    border: 0;
    cursor: pointer;
}

.nav #selectRoute {
    margin-top: 3px;
    font-size: 17px;
    opacity: 0.8;
}

.nav #selectRoute:hover,
.nav #showAllRoutes:hover {
    opacity: 1;
}

.nav #showAllRoutes {
    font-size: 17px;
}
/* navbar-default media */

@media only screen and (max-width: 768px) {
    .nav li a {
        color: rgba(0, 0, 0, 0.6);
    }
    .nav #selectRoute {
        margin-left: 1em;
        margin-bottom: 1px;
    }
    .navbar-default .nav li a:hover p,
    .navbar-shrink .nav li a:hover p {
        border-bottom: none;
        color: #222 !important;
    }
    .navbar-default .nav li a:focus p,
    .navbar-shrink .nav li a:focus p {
        border-bottom: none;
        color: #222;
    }
    .navbar-default {
        background-color: rgba(255, 255, 255, 0.95) !important;
        height: 0.5em;
    }
    .navbar-collapse {
        background-color: rgba(255, 255, 255, 0.95);
        border-color: transparent;
    }
    .navbar-header-sm {
        display: block;
    }
    .navbar-header-sm .logo {
        margin-top: 5px;
        margin-left: 10px;
        width: 100px;
        height: 38px;
    }
    .navbar-header-lg .logo {
        display: none;
    }
    .nav .dropdown:focus .dropdown-menu {
        display: block;
    }
    .nav .login-lst {
        display: block;
    }
    .login-btn {
        display: none;
    }
    .nav .btn-exp {
        display: inline;
    }
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
    }
    .navbar-default .navbar-brand {
        font-size: 1.3em;
    }
}
